{{ define "admin/index.html" }}
<!DOCTYPE html>
<html>
<head>
    <title>敏捷后台模板</title>
    <script type="text/javascript" src="http://www.39yst.com/statics/2017/js/jquery-1.8.3.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="overflow:hidden;">
<button id="btn">点击</button>
</body>
</html>
<script>
    //一,客户端代码示例
    $("#btn").click(function () {
        $.ajax({
            url: 'https://api.58haha.com/v1/question?category_id=1',
            headers: {"x-token": "wechat1"},
            type: 'get',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data)
            }
        });
    });

    //客户端回调
    function callbackHandler(json) {
        // console.log(json);
        // alert(json.content);
        $("#append").append(json.dbcache + '---' + json.db);
    }
</script>
{{ end }}